#logicpage {

    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
}

#logicpage h1{

    font-size: 100px;
    font-weight: bold;
}




#logicpage span{

    height: 20px;
}

#logicpage p {
white-space: pre-line;
    font-size: 35px;
    
}

